/* #region Base and Common */

body {
  font-family: 'Inter Tight', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #fbfbfb;
  margin: 0;

  background-color: #576f35;
}

/* title for vegetables, reviews and your order  */

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 108%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .title {
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 24px;
  }
}

/* all button */
.btn {
  min-width: 157px;
  height: 52px;
  background-color: #7a3145;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: currentColor;
  border-radius: 30px;
  border: none;
  transition: 250ms ease-in-out;
  transition-property: color, background-color;
}

/* Start how-it-work for your-order */
.sections {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .sections {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* #endregion */

/* #region Hero */

.section-hero {
  position: relative;
  background-color: #576f35;
}
.hero-container {
  padding-top: 100px;
  padding-bottom: 412px;

  background-image: url(/img/hero/pic-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  color: #fbfbfb;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(/img/hero/pic-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 120px;
    padding-bottom: 588px;
    background-image: url(/img/hero/pic-tab@1x.jpg);
  }
  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(/img/hero/pic-tab@2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 232px;
    padding-bottom: 52px;
    background-image: url(/img/hero/pic-desk@1x.jpg);

    background-position: right;
  }
  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(/img/hero/pic-desk@2x.jpg);
    }
  }
}

.hero-title {
  max-width: 335px;
  font-size: 52px;
  line-height: 1;
}
@media screen and (max-width: 374px) {
  .hero-title {
    font-size: 42px;
  }
  .hero-container {
    padding-bottom: 352px;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 704px;
    font-size: 76px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    max-width: 502px;
    margin-bottom: 128px;
  }
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  max-width: 335px;
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 603px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-text {
    max-width: 472px;
  }
}

/* #endregion Hero */

/* #region HEADER */
.page-header {
  padding: 0px 100px;
  position: fixed;
  background-color: transparent;
  border: none;
  z-index: 999;
  background-color: #576f35;
}
.header-container {
  margin: 0 auto;
  align-items: center;
}
.nav-header {
  display: flex;
}
.logo {
}
.header-logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 366px;
}
.logo-first {
}
.logo-second {
  width: 188px;
  height: 17px;
  fill: #fbfbfb;
}
.header-wrap {
  display: flex;
  gap: 8px;
  margin-right: 20px;
}
.btn {
  min-width: 83px;
  min-height: 44px;
  padding: 12px;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #fbfbfb;
  background-color: transparent;
  border: 1px solid #fbfbfb;
  border-radius: 12px;
  /* transition: 300ms ease-in;
  transition-property: color, border-color, backgroung-color; */
}

/* подивіться, будь ласка, чому кнопки в спокійному стані не наслідують колір */
.btn-works {
  min-width: 118px;
}

.btn-veg {
  min-width: 104px;
}
.btn-rev {
  min-width: 83px;
}
/* не спрацьовують ховер/фокус об'єднані, пізніше подивлюся причину */
.btn-works:hover {
  color: #7a3145;
  background-color: #d4bfc4;
  border: 1px solid #d4bfc4;
}

.btn-veg:hover {
  color: #7a3145;
  background-color: #d4bfc4;
  border: 1px solid #d4bfc4;
}
.btn-rev:hover {
  color: #7a3145;
  background-color: #d4bfc4;
  border: 1px solid #d4bfc4;
}

.btn-works,
.btn-veg,
.btn-rev :focus {
  color: #7a3145;
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
}
.btn-header {
  border-radius: 30px;
  padding: 16px 32px;
  min-width: 157px;
  height: 52px;
  color: #fbfbfb;
  background-color: #7a3145;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
}
.btn-header:focus {
  color: #7a3145;
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
}
.btn-header:hover {
  color: #7a3145;
  background-color: #d4bfc4;
  border: 1px solid #d4bfc4;
}

/* #endregion */

/* #region Nobile menu */

/* Якщо mobile-menu is-open, 
body {
    background-color: rgba(20, 20, 20, 0.4);
}*/

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* opacity: 0;
  visibility: hidden;
  pointer-events: none; */

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 45%;
    right: 0;
    left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  /* opacity: 1;
  visibility: visible;
  pointer-events: auto; */
}

.mobile-menu-container {
  position: relative;
  padding-top: 296px;
  padding-bottom: 52px;

  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #576f35;
}

@media screen and (min-width: 768px) {
  .mobile-menu-container {
    padding-top: 360px;
    padding-bottom: 48px;
  }
}

.mobile-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .mobile-btn-close {
    top: 32px;
    right: 32px;
    width: 40px;
    height: 40px;
  }
}

.mobile-close-icon {
  stroke-width: 3px;
  stroke: #fbfbfb;
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  .mobile-close-icon {
    stroke-width: 4px;
    width: 40px;
    height: 40px;
  }
}

.mobile-menu-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.mobile-nav-link {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  align-items: center;

  color: #fbfbfb;
  background-color: transparent;

  border: 1px solid #fbfbfb;
  border-radius: 12px;

  width: 118px;
  height: 44px;

  display: flex;
  justify-content: center;
  margin: auto;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-nav-link {
    font-size: 16px;
    line-height: 1.25;
    width: 123px;
    height: 44px;
  }
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #7a3145;
  background-color: #fbfbfb;
}

.mobile-shop-link {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-align: center;
  text-transform: uppercase;

  color: #fbfbfb;
  background-color: #7a3145;
  border: none;
  border-radius: 30px;

  width: 175px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: auto;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-shop-link {
    width: 157px;
  }
}

.mobile-shop-link:hover,
.mobile-shop-link:focus {
  color: #7a3145;
  background-color: #fbfbfb;
}

/* #endregion */

/* #region Reviews */

/* #region Reviews */

.reviews-js-title-green {
  color: #141414;
}
.reviews-js-title {
  max-width: 335px;
  color: #141414;
}
@media only screen and (max-width: 375px) {
  .reviews-js-title {
    font-size: clamp(2.875rem, 2.148rem + 3.64vw, 3rem);
  }
}
@media only screen and (min-width: 768px) {
  .reviews-js-title {
    max-width: 553px;
  }
}
.reviews-js-subtitle {
  max-width: 335px;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .reviews-js-subtitle {
    max-width: 553px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
  }
}
@media only screen and (min-width: 768px) {
  .reviews-js-list {
    display: flex;
    gap: 24px;
  }
}
.reviews-js-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #7a3145;
  border-radius: 24px;
  padding: 20px 16px;
}
@media only screen and (min-width: 768px) {
  .reviews-js-item {
    padding: 20px;
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1280px) {
  .reviews-js-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
.reviews-js-item:not(:first-child) {
  display: none;
}
@media only screen and (min-width: 768px) {
  .reviews-js-item:not(:last-child) {
    display: flex;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews-js-item:last-child {
    display: flex;
  }
}
.reviews-js-img {
  margin-bottom: 24px;
}
.reviews-js-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}
.reviews-js-text {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #141414;
  max-width: 288px;
}
@media only screen and (min-width: 768px) {
  .reviews-js-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%; /* Кожен слайд займає 100% ширини */
  display: flex;
  justify-content: center;
}

/* #endregion */

/* #endregion */
